<app-menu></app-menu>

<script>
    emailjs.send("service_janacmv","template_cixs6zb",{
      to_name: "",
      from_name: "",
      message: "",
      });
    </script>
    
    <div class="fundo">
    
    <div class="uk-container">
      <h1 style="color: white !important; " class="ul-heading-large" style="margin-bottom:24px; margin-top: 24px;">Contacte-nos</h1>
    </div>
    
    <div class="uk-container">
      <h3>Usuários do app Piloto X <img src="assets/logo.png" height="80px" width="80px"> podem solicitar aqui a remoção dos dados de suas contas também</h3>
      <h2>Envie-nos uma mensagem</h2>
      <form id="contact-form" class="uk-form-stacked" (submit)="sendEmail($event)" >
        <div class="uk-margin">
          <label class="uk-form-label" for="nome">Nome</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="from_name" id="nome" type="text" placeholder="Digite seu nome">
          </div>
        </div>
    
        <div class="uk-margin">
          <label class="uk-form-label" for="email">Email</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="user_email" id="email" type="email" placeholder="Digite seu email">
          </div>
        </div>
    
        <div class="uk-margin">
          <label class="uk-form-label" for="assunto">Assunto</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="assunto" type="text" placeholder="Digite o assunto">
          </div>
        </div>
    
        <div class="uk-margin">
          <label class="uk-form-label" for="mensagem">Mensagem</label>
          <div class="uk-form-controls">
            <textarea class="uk-textarea" name="message" id="mensagem" rows="5" placeholder="Digite sua mensagem"></textarea>
          </div>
        </div>
    
        <div class="uk-margin">
          <button class="uk-button uk-button-danger uk-border-pill uk-button-large" type="submit" value="Send" >Enviar</button>
        </div>
      </form>
      <div id="message"></div>
    </div>
    
    
    <div class="uk-container" *ngIf="successMessage">
      <h1>A sua mensagem foi enviada com sucesso!</h1>
      <p>Respenderemos o mais brevemente</p>
    </div>
    
</div>    

<app-rodape></app-rodape>