<app-menu></app-menu>

<div class="uk-container">
    <div class="uk-text-center"> 
        <img class="logo" src="/assets/logo.png">
        <div>
    <div class="uk-text-center">
        <a href="https://play.google.com/store/apps/details?id=com.pilotox.taxirider"><button class="uk-border-rounded  uk-button uk-button-large uk-button-danger uk-width-auto uk-margin-small-bottom">BAIXAR APP</button></a>
    </div>
        <a [routerLink]="['/eliminar']"><button class=" uk-border-rounded uk-button uk-button-large uk-button-danger uk-width-auto uk-margin-small-bottom">ELIMINAR CONTA</button></a> 
    </div>    
    

    </div>
