<app-menu></app-menu>
<div  class="bg uk-container">
    <div class="">
    <h1 style="margin-top: 2%;">Política de Privacidade do Aplicativo Piloto X</h1>
    
    <p style="margin-bottom: 10px;">Prezado Usuário,</p>

    <p>A Piloto, empresa de transporte individual de passageiros por motocicleta <b>PILOTO X</b>, reconhece a importância da sua privacidade e segurança. Por isso, desenvolvemos esta Política de Privacidade para garantir a proteção dos seus dados pessoais e informá-lo sobre como coletamos, armazenamos, utilizamos e compartilhamos suas informações.
    Ao utilizar o aplicativo Piloto, você concorda com os termos e condições desta Política de Privacidade.
    </p>
    
    
    <h2>1. Quais dados coletamos?</h2>
        
    <p>Dados de Cadastro: Nome completo; Endereço de e-mail; Número de telefone celular; Data de nascimento; CPF; Foto do perfil; CNH (Carteira Nacional de Habilitação) do motociclista; Dados de 
    <p>Localização: Localização em tempo real durante a corrida;</p>
    <p> Histórico de viagens.</p>
    <p>Dados de Pagamento: Informações do cartão de crédito/débito; Histórico de pagamentos.</p>
    
    <p>Dados do Dispositivo: Modelo do dispositivo; Sistema operacional; ID do dispositivo; Endereço IP.</p>
    
    <p>Outros dados: Comentários e avaliações; Interações com o suporte ao cliente.</p>
        
    <h2>2. Como utilizamos seus dados?</h2>
    
    <p>Os seus dados são utilizados para: 
        <br>Prestar o serviço de transporte: Localizar o motociclista mais próximo; Calcular o valor da corrida; Efetuar o pagamento; Enviar notificações sobre o status da corrida. Melhorar a experiência do usuário:Oferecer promoções personalizadas; Realizar pesquisas de satisfação; Melhorar a qualidade do serviço. Manter a segurança da plataforma: Prevenir fraudes; Investigar incidentes de segurança; Atender solicitações legais. Cumprir obrigações legais: Emitir notas fiscais; Fornecer informações às autoridades competentes.</p>

    <h2>3. Com quem compartilhamos seus dados?</h2>

    <p>Os seus dados podem ser compartilhados com:     Motociclistas parceiros: Nome e foto do passageiro; Localização de destino; Número de telefone. Empresas de pagamento: Informações do cartão de crédito/débito; Valor da corrida. Autoridades competentes: Em caso de solicitação legal ou para investigação de crimes. </p>
    
    <h2>4. Segurança dos seus dados</h2>
    
    <p>A Piloto investe em medidas de segurança para proteger seus dados contra acessos não autorizados, uso indevido, divulgação, alteração ou destruição.</p>
    
    <h2>5. Seus direitos</h2>
    <p>Você tem o direito de: Acessar seus dados; Corrigir seus dados;Excluir seus dados; Solicitar a portabilidade dos seus dados; Revogar seu consentimento para o tratamento dos seus dados;
    Limitar o tratamento dos seus dados; Opor-se ao tratamento dos seus dados. Para exercer qualquer um desses direitos, entre em contato com o nosso Encarregado de Proteção de Dados:
    Nome: Lukeba Pedro Jorge
    E-mail: geral&#64;fluxodigital.com</p>
    
    <h2>6. Alterações na Política de Privacidade</h2>
    
    <p>A Piloto poderá alterar esta Política de Privacidade a qualquer tempo. A versão mais recente da Política de Privacidade estará sempre disponível no aplicativo Piloto.</p>
    
    <h2>7. Dúvidas e Sugestões</h2>
    
    <p>Se você tiver dúvidas ou sugestões sobre esta Política de Privacidade, entre em contato conosco através do aplicativo Piloto ou pelo e-mail geral&#64;fluxo-digital.com.</p>

    </div>
    
        </div>

<app-rodape></app-rodape>