<div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav uk-navbar-center">
                        <li><a [routerLink]="['/inicio']" routerLinkActive="active">INÍCIO</a></li>
                        <li><a [routerLink]="['/privacy']" routerLinkActive="active">POLÍTICA DE PRIVACIDADE</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.pilotox.taxirider" routerLinkActive="active">ACERCA</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
