<div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav uk-navbar-center">
                        <li><a [routerLink]="['/eliminar']">INÍCIO</a></li>
                        <li><a [routerLink]="['/privacidade']">POLÍTICAS DE PRIVACIDADE</a></li>
                        <li><a [routerLink]="['/privacidade']">ACERCA</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
