/* You can add global styles to this file, and also import other style files */
body {

    background-size: cover;
    background-image: url('assets/bg_pilotox.jpg');
    min-height: 100vh;
    }
    
    